.aboutPresentation {
    color: #FC5D5D;
    padding: 5%;
}

.maru {
    width: 100vw;    
    /* top: -20px; */
    position: relative;
    z-index: 1;
    margin-top: 6%;
}

.maruCuteMolly {
    font-size: 23vw;
    margin-left: 28%;
    margin-top: -30px;
}

.seguime {
    font-size: 11vw;
    color: #FC5D5D;
    text-align: center;
}

.icons {   
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin: auto;
    margin-top: -10px;
}

.arrow {
    margin-left: 70%;
    margin-top: -75px;
    width: 50px;
}
/* 
.social {
    position: relative;
    top: -500px;
} */

.stronger {
    font-weight: 900;
}

.bubble1mobile {
    position: absolute;
    width: 100vw;
    /* height: 64vh; */
    height: fit-content;
    /* margin-top: -15px; */
}

.bubble2mobile {
    position: relative;
    width: 100vw;
    /* top: -760px; */
}

.chat1 {
    position: relative;
    margin: 0 5%;
    /* top: 26px; */
    z-index: 1;
    height: 44vh;
}

.chat2 {
    margin: 5%;
    margin-top: -190%;
    /* position: relative;
    z-index: 1;
    margin: 5%;
    top: -35.7%; */
}

.bubble1desktop {
    display: none;
}

.bubble2desktop {
    display: none;
}

.maruDesktop {
    display: none;
}

@media (min-width: 700px) {

    .desktop1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 85vh;
    }

    .bubble1mobile {
        display: none;
    }
    .bubble2mobile {
        display: none;
    }

    .chat1 {
        margin: unset;
        height: unset;
        top: unset;
        width: 70vw;
        padding-left: 0;
        height: 70vh;
    }
    
    .bubble1desktop {
        display: block;
        position: absolute;
        width: 65%;
        right: 15px;
    }

    .desktop1 > h2{
        width: 26vw;
        font-size: 45px;
    }

    .desktop2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 85vh;
    }

    .chat2 {
        top: 620px;
        width: 75%;
        height: unset;
        padding-left: 0;
    }
    
    .bubble2desktop {
        display: block;
        position: relative;
        width: 66vw;
        right: 15px;
        top: -230px;
    }

    .maru {
        display: none;
    }
    .maruDesktop {
        display: block;
        width: 30vw;
    }
    
    .social {
        top: -500px;
    }

}


@media (min-width: 700px) {

}