.aboutPresentation {
    color: #FC5D5D;
    padding: 5%;
}

.maru {
    width: 100vw;    
    top: -20px;
    position: relative;
    z-index: 1;
}

.maruCuteMolly {
    font-size: 90px;
    margin-left: 28%;
    margin-top: -30px;
}

.regiaAbout {
    width: 120px;
    margin-left: 35%;
    margin-top: -45px;
}

.seguime {
    font-size: 40px;
    color: #FC5D5D;
    text-align: center;
}

.icons {   
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin: auto;
    margin-top: -10px;
}

.arrow {
    margin-left: 70%;
    margin-top: -75px;
    width: 50px;
}

.stronger {
    font-weight: 900;
}

.chat1mobile {
    position: absolute;
    width: 100vw;
}

.chat2mobile {
    position: relative;
    width: 100vw;
    top: -60px;
}

.chat1 {
    position: relative;
    margin: 5%;
    top: 26px;
    z-index: 1;
    height: 44vh;
}

.chat2 {
    position: relative;
    z-index: 1;
    margin: 5%;
    top: -35.7%;
}
