.aboutPresentation {
    color: #FC5D5D;
    padding: 5%;
}

.auxi1 {
    background-image: url(/public/img/chat1-mobile.png);
    background-size: cover;
    background-position: center;
    margin: 0 6%;
    width: 90vw;
    top: 26px;
    z-index: 1;
    height: 65vh;
}

.auxi2 {
    background-image: url(/public/img/chat2-mobile.png);
    background-size: cover;
    background-position: center;
    margin-top: -125px;
    width: 100vw;
    height: 118vh;
    color: #FC5D5D;
}

.auxi2 p {    
    padding: 17% 10% 3px;
}

.auxi2 .italic {
    padding: 0 10%;
}

@media (min-height: 710px) {
    .auxi1 {
        height: 62vh;
    }
    .auxi2 {
        height: 102vh;
    }

    
    
    .web, .background-image {
        height: 906vh;
    }
    @supports(height: 905vh){
        
        .web, .background-image {
            height: 905vh;
        }
    }
    .home {
        height: 90vh;
    }
    .about {
        height: 275vh;
    }
    .services {
        height: 90vh;
    }
    .myWork {
        height: 90vh;
    }
    .mySpace {
        height: 180vh;
    }
    .spotify {
        height: 90vh;
    }
    .contact {
        height: 90vh;
    }
    .navbar {
        top: 91vh;
    }

}

@media (min-height: 740px) {
    .auxi1 {
        height: 58vh;
    }
    .auxi2 {
        height: 98vh;
    }
}
@media (min-height: 800px) {
    .auxi1 {
        height: 55vh;
    }
}
@media (min-height: 840px) {
    .auxi1 {
        height: 53vh;
    }
}

@media (min-width: 1000px) {

    .auxi1 {
        background-image: url(/public/img/chat1-desktop.png);
        margin: 0 6%;
        width: 65vw;
        top: 26px;
        z-index: 1;
        height: 104%;
    }

    .auxi2 {
        background-image: url(/public/img/chat2-desktop.png);
        width: 70vw;
        height: 177vh;
        margin-top: 0;
    }

    .auxi2 p {
        padding: 7%;
        padding-right: 14%;
    }

    .auxi2 .italic {
        padding: 0 7%;
    }

}

@media (min-width: 1000px) {
    .background-image {
        background-image: url('../img/backgrounds/Fondo-desktop.jpg');
        height: 1182vh;
    }
    .web {
        height: 1182vh;
    }
    * {
        font-size: 1.8vw;
    }

    h2, .space1 > h2, .bigTitle {
        font-size: 5vw;
    }
    .home {
        height: 100vh;
    }
    .about {
        height: 360vh;
    }
    .services {
        height: 120vh;
    }
    .myWork {
        height: 120vh;
    }
    .mySpace {
        height: 240vh;
    }
    .spotify {
        height: 120vh;
    }

    .navbar {
        top: 85vh;
    }

}