.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    top: 100px;
    position: relative;
    justify-content: center;
}

.contactButton {
    color: yellow;
    border-radius: 25px;
    background-color: #FD0072;
    border: none;
    /* margin: 117px 27% 45px; */
    /* margin: 100px; */
    width: 54vw;
    font-size: 6vw;
    height: 8vh;
    font-weight: 700;
}

.contactText {
    font-size: 6vw;
    color: #FD0072;
    font-weight: bold;
}

@media (min-width: 700px) {
    .lastRegia {
        display: none;
    }
    .contactText {
        display: none;
    }
    .contactButton {
        width: 22%;
        height: 12%;
        font-weight: 700;
        font-size: larger;
    }
    
}