.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    top: 45px;
    position: relative;
    justify-content: space-evenly;
}

.contactButton {
    color: yellow;
    border-radius: 20px;
    background-color: #FD0072;
    border: none;
    width: 54vw;
    font-size: 6vw;
    height: 10vh;
    font-weight: 700;
}

.contactText {
    font-size: 6vw;
    color: #FD0072;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

@media (min-width: 1000px) {
    .lastRegia {
        display: none;
    }
    .contactText {
        display: none;
    }
    .contactButton {
        width: 22vw;
        height: 14vh;
        font-weight: 700;
        font-size: x-large;
    }
    
}