*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.title {
    width: 250px;
    margin: -80px auto auto auto;
    display: flex;
}

/* carousel bs img */
.w-100 {    
    /* width: unset; */
    border-radius: 20px;
}

.carousel {
    border-radius: 20px;
    width: 90vw;
    margin: auto;
}

@supports(object-fit: cover){
    .w-100, .carousel {
      object-fit: cover;
      object-position: center center;
      height: 70vh;
    }
}