.title {
    width: 250px;
    margin: -80px auto auto auto;
    display: flex;
}

/* carousel bs img */
.w-100 {    
    border-radius: 20px;
}

.carousel, .carouselDesktop {
    border-radius: 20px;
    width: 90vw;
    margin: auto;
}

.carouselDesktop {
    display: none;
}

@supports(object-fit: cover){
    .w-100, .carousel, .carouselDesktop, .carouselSpace{
      object-fit: cover;
      object-position: center center;
      height: 70vh;    
    }
}

@media (min-width: 1000px) {
    .carouselHome {
        display: none;
    }
    .carouselDesktop {
        display: block;
        width: 70vw;
    }
    .title {
        width: 20%;
    }
    @supports(object-fit: cover){
        .w-100, .carousel, .carouselSpace {
            object-fit: scale-down;
            height: 65vh;
            margin: auto;
        }
        .carouselDesktop {
            width: 70vw;
        }
    }
}
