.instagram {
    width: 90vw;
    margin: auto;
}

.responsiveIg {
    display: block;
}

.sk-ig-bottom-btn-container {
    display: none !important;
}

.sk_branding {
    display: none !important;
}

body .sk-instagram-feed .sk-ig-profile-usename {
    font-size: 3vw !important;
    color: #F8C9CF !important;
    font-weight: normal;
    text-align: unset !important;
    margin-left: -10px;
}

.sk-instagram-feed-item{
    border-radius: 10px;
    border: 3px #FF6FB4 solid;
    aspect-ratio: 1/1 !important;
    width: 31% !important;
}
.instagram-user-container {
    background-color: #FF6FB4 !important;
    border-color: #FF6FB4 !important;
    color: white !important;
}
i > .fa fa-instagram {
    display: none !important;
}
.sk-ig-profile-counts {
    display: none !important;
}

.sk-ig-profile-count-item {
    display: none !important;
}

.sk-ig-profile-bio {
    display: none !important;
}
.sk-ig-profile-bio-container > strong{
    font-size: 2vw !important;
    color: #F8C9CF !important;
    font-weight: normal;
}
.sk-ig-profile-bio-container > b{
    display: none !important;
}
.sk-instagram-feed {
    background-color: transparent !important;
}

.tutorial_link {
    display: none !important;
}

.sk-instagram-profile-pic {
    width: 70px !important;
    height: 70px !important;
}

.instagram-user-root-container {
    display: flex;
}

.href_status_trigger_container {
    display: flex;
}

.sk-ig-post-img {
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 180px !important;
}

.bio-description {
    margin-top: -30px !important;
    justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
    
    body .sk-instagram-feed .sk-ig-profile-usename {
        font-size: 3vw !important;
        color: #F8C9CF !important;
        font-weight: normal;
        text-align: left !important;
    }

}

@media (min-width: 1000px) {

    .instagram {
        width: 65vw;
    }
    /* username */
    body .sk-instagram-feed .sk-ig-profile-usename {
        font-size: 2vw !important;
        font-weight: normal !important;
    }
    .sk-ig-profile-bio-container > strong {
        font-size: 1.5vw !important;
    }
    /* follow */
    .instagram-user-container {
        margin-top: -20px !important;
    }

    /* cada publicacion */
    .sk-instagram-feed-item{
        border-radius: 10px;
        border: 3px #FF6FB4 solid;
        aspect-ratio: 1/1 !important;
        width: 23% !important;
    }
    
    .responsiveIg {
        display: none;
    }
    
    .instagram-user-root-container {
        display: flex;
    }
    
    .href_status_trigger_container {
        display: flex;
    }
    
    .sk-ig-post-img {
        background-size: cover !important;
        width: 100% !important;
        height: 100% !important;
        min-height: 180px !important;
    }
    
    .bio-description {
        margin-top: -15px !important;
        justify-content: space-between;
        align-items: flex-start;
    }
    

}