.map {
    border: 0;
    border-radius: 25px;
    margin: 2% 8%;
    width: 84%;
}

h4 {
    font-family: simplify;
    font-size: 26px;
    text-align: center;
    padding-top: 5%;
}

.commentsContainer {
    color: #F8C9CF;
}

.comment1 {
    border: #F8C9CF 1px solid;
    border-radius: 15px;
    width: 70vw;
}

/* .instagram-user-root-container{
    display: flex;
}

.sk-ig-profile-info {
    display: flex;
} */

.instagram {
    width: 90vw;
    margin: auto;
}