.spacePhoto {
    border-radius: 20px;
    width: 80vw;
}

.spotifyIcon {
    width: 150px;
}
/* 
.spotifyContainer {
    width: 45%;
} */

.playlistContainer {
    width: 45%;
}

.playlistDescription {
    
}