.servicesContainer {
    display: flex;
    flex-direction: row;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.serviceContainer {
    width: 45%;
    background-color: #FF6FB4;
    /* padding: 1%; NO*/
    margin: 1%;
    border: #FFF223 2px solid;
    border-radius: 10px;
    text-align: center;
}

.serviceDetail {
    font-weight: 600;
    margin: 15%;
    font-size: 10px;
}

.servicePhoto {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-bottom: #FFF223 3px solid;
    border-radius: 10px 10px 0 0;
}

.service {
    color: #FFF223;
    padding: 1%;
    margin: 2%;
    text-align: center;
    font-size: 17px;
    position: sticky;
    z-index: 5;
    top: 90%;
}

.serviceDescription {
    display: none;
    color: #FFF223;
}

.infoButton {
    color: #FD0072;
    border-radius: 5px;
    background-color: #FFF223;
    border: none;
    width: 30%;
    font-weight: 700;
}