.servicesContainer {
    display: flex;
    flex-direction: row;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.serviceContainer {
    width: 45%;
    margin: 1%;
    margin-bottom: -8%;
    border-radius: 10px;
    text-align: center;
}
.serviceDetail {
    font-weight: 600;
    margin: 15%;
    font-size: 2.5vw;
}

.servicePhoto {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
    border: #FFF223 1.7px solid;

    box-shadow: #00000062 1px 1px 10px 0px;
}

.service {
    
    box-shadow: 0px 6px 10px -3px #00000082;

    color: #FFF223;
    padding: 3%;
    text-align: center;
    font-size: 4.4vw;
    position: relative;
    z-index: 5;
    background-color: #FF6FB4;
    top: -13%;
    border: #FFF223 1.7px solid;
    border-radius: 0 0 10px 10px;

}

.serviceDescription {
    display: none;
    color: #FFF223;
    border: #FFF223 1.7px solid;
    background-color: #FF6FB4;
    aspect-ratio: 1/1;
    border-radius: 10px;

    box-shadow: #00000082 1px 1px 10px 0px;
}

.infoButton {
    color: #FD0072;
    border-radius: 5px;
    background-color: #FFF223;
    border: none;
    width: 30%;
    font-weight: 700;
}

@media (min-width: 1000px) {
    
    .servicesContainer {
        width: 60vw;
    }

    .serviceContainer {
        width: 27%;
        margin: -1% 3%;
    }
    
    .serviceDetail {
        font-size: 0.5em;
    }
    
    .service {
        font-size: 1em;
    }
}