.spotifyIcon {
    width: 120px;
    margin: 10%;
}

.playlistContainer {
    width: 45%;
    text-align: center;
}

.playlist {
    font-weight: 800;
}

.playlistDescription {
    color: #FC5D5D;
    font-weight: 600;
}

.spotifyContainer {
    display: flex;    
    flex-direction: row;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 10%;
}


@media (min-width: 1000px) {

    .playlistDescription {
        font-size: smaller;
    }
    .spotifyContainer {
        flex-wrap: unset;
        margin-top: unset;
        justify-content: space-around;
    }
    
    .spotifyIcon {
        width: 155px;
    }
    .playlistContainer {
        width: 22%;
    }
    .spotify > h2 {
        font-size: 5vw;
    }
}