@font-face {
    font-family: simplify;
    src: url('/Simplify.ttf');
}

@font-face {
    font-family: cutemolly;
    src: url('/Cute\ Molly.otf');
}

.web {
    background-image: url('../img/backgrounds/FondoWeb.jpg');
    /* width: 90vw;  */
    background-size: cover;
}

h2 {
    font-size: 52px;
    font-family: simplify;
    text-align: center;
    padding-top: 8%;
}

.smallTitle {
    font-size: 70px;
}

.bigTitle {
    font-size: 46px;
}

.italic {
    font-style: italic;
}

.cuteMolly {
    font-family: cutemolly;
}

.home {
    height: 90vh;
    /* background-image: url('../img/backgrounds/fondo1.jpg'); */
    background-size: cover;
}

.about {
    height: 270vh;
    /* background-image: url('../img/backgrounds/fondo2.jpg'); */
    background-size: cover;
}

.services {    
    height: 90vh;
    /* background-image: url('../img/backgrounds/fondo3.jpg'); */
    background-size: cover;
}

.myWork {
    height: 90vh;
    /* background-image: url('../img/backgrounds/fondo4.jpg'); */
    background-size: cover;
}

.mySpace {    
    height: 180vh;
    /* background-image: url('../img/backgrounds/fondo5.jpg'); */
    background-size: cover;
}
/* .space1, .space2 {
    height: 90vh;
} */

.spotify {    
    height: 90vh;
    /* background-image: url('../img/backgrounds/fondo6.jpg'); */
    background-size: cover;
}

.contact {
    height: 100vh;
    /* background-image: url('../img/backgrounds/fondo7.jpg'); */
    background-size: cover;
}

.fucsia {
    color: #FD0072;
}
.red {
    color: #FF0B0D;
}
.pink {
    color: #F8C9CF;
}
.yellow {
    color: #FFF223;
}
.blue {
    color: #04A0ED;
}